/* Update this in your main layout/container file */
.blog-container {
  display: grid;
  /* minmax(minimum, maximum) */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.Blog-card {
  width: 100%;
  display: flex;
  flex-direction: column;
 
  overflow-wrap: break-word; 
  word-wrap: break-word;
}