.Blog-card {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 1.4rem;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.Blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  border-color: var(--primary);
}

/* META (top row) */
.Blog-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

/* category badge */
.category {
  background: var(--primary-light);
  color: var(--primary);
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
}

/* date */
.date {
  color: var(--text-muted);
}

/* title */
.Blog-card h2 {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--text-main);
  margin: 0.3rem 0;
  line-height: 1.3;
}

/* content */
.Blog-card p {
  color: var(--text-muted);
  font-size: 0.95rem;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

/* bottom line animation */
.Blog-card::after {
  content: "";
  height: 2px;
  width: 0%;
  background: var(--primary);
  margin-top: auto;
  transition: 0.3s;
}

.Blog-card:hover::after {
  width: 100%;
}