:root {
  --bg-body: #f9fbff;
  --bg-card: #ffffff;
  --primary: #3b82f6;
  --primary-light: #e0edff;
  --text-main: #111827;
  --text-muted: #6b7280;
  --border: #e5e7eb;

  --sidebar-width: 260px;
  --nav-height: 64px;
}























